<div class="container">
    <form novalidate autocomplete="false">
        <label>Connection ID:</label>
        <input type="text" [(ngModel)]="connectionID">
        <label>Comment:</label>
        <input type="text" [(ngModel)]="comment">
        <br />
        <label>Attribute Name:</label>
        <input type="text" [(ngModel)]="attributeName">
        <label>Attribute Value:</label>
        <input type="text" [(ngModel)]="attributeValue">
        <button type="button" class="btn btn-primary btn-lg btn-block mb-3" (click)="onSubmit()"
            [disabled]="credentialRequest">Create New Credential Request</button>
    </form>

    <div *ngIf="credentialRequest" class="row">
        <div class="col-12">
            <div class="form-group">
                <label>A new credential request is generated as shown below:</label>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-title">
                            <small>
                                <span>Request sent on &nbsp;</span>
                            </small>
                            <small class="text-muted">{{ credentialRequestObject?.created_at | toDate |
                                date:'medium'}}</small>
                        </div>
                        <div class="card-text">
                            <span>
                                <small class="text-muted">Connection ID:</small>&nbsp;
                            </span>
                            <span>{{ credentialRequestObject?.conn_id }}</span>
                        </div>
                        <div class="card-text">
                            <span>
                                <small class="text-muted">Credential Exchange ID:</small>&nbsp;
                            </span>
                            <span>{{ credentialRequestObject?.cred_ex_id }}</span>
                        </div>
                        <div class="card-text">
                            <span>
                                <small class="text-muted">Request State:</small>&nbsp;
                            </span>
                            <span>{{ credentialRequestObject?.state | titlecase }}</span>
                        </div>
                        <div class="card-text">
                            <span>
                                <small class="text-muted">Request Comment:</small>&nbsp;
                            </span>
                            <span>{{ credentialRequestObject?.cred_proposal?.comment | titlecase }}</span>
                        </div>
                        <div class="card-text">
                            <span>
                                <small class="text-muted">Credential Preview:</small>&nbsp;
                            </span>
                        </div>
                        <ul>
                            <li *ngFor="let attribute of credentialRequestObject?.cred_preview?.attributes">
                                <div>
                                    <span>
                                        <small class="text-muted">Attribute:</small>&nbsp;
                                    </span>
                                    <span>{{ attribute.name }}</span>
                                    <span>
                                        <small class="text-muted">,&nbsp;Value:</small>&nbsp;
                                    </span>
                                    <span>{{ attribute.value }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>