<div class="container">
    <form novalidate autocomplete="false">
        <label>Connection ID:</label>
        <input type="text" [(ngModel)]="connectionID">
        <label>Comment:</label>
        <input type="text" [(ngModel)]="comment">
        <br/>
        <label>Attribute Name:</label>
        <input type="text" [(ngModel)]="attributeName">
        <label>Attribute Value:</label>
        <input type="text" [(ngModel)]="attributeValue">
        <button type="button" class="btn btn-primary btn-lg btn-block mb-3" (click)="onSubmit()"
            [disabled]="credentialRequest">Create New Credential Request</button>
    </form>

    <div *ngIf="credentialRequest" class="row">
        <div class="col-12">
            <div class="form-group">
                <label>A new credential request is generated as shown below:</label>
                <div class="input-group">
                    <textarea class="form-control" cols="30" rows="10" [value]="credentialRequestObject" #credentialRequestObjectEl
                        readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>