<div class="container">
    <form novalidate autocomplete="false">
        <button type="button" class="btn btn-primary btn-lg btn-block mb-3" (click)="onSubmit()"
            [disabled]="credentialRequest">Create New Credential Request</button>
    </form>

    <div *ngIf="credentialRequest" class="row">
        <div class="col-12">
            <div class="form-group">
                <label>A new credential request is generated as shown below:</label>
                <div class="input-group">
                    <textarea class="form-control" cols="30" rows="10" [value]="credentialRequestObject" #credentialRequestObjectEl
                        readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>