<div class="card shadow-sm">
    <div class="card-body">
        <div class="card-title">
            <h5>
                <span>{{ proof?.presentation_request?.name }}</span>
                <span
                    *ngIf="proof?.presentation_request?.version">&nbsp;({{ proof?.presentation_request?.version }})</span>
            </h5>
            <small>
                <span *ngIf="proof?.initiator === 'self'">Sent&nbsp;</span>
                <span *ngIf="proof?.initiator === 'external'">Received&nbsp;</span>
            </small>
            <small class="text-muted">{{ proof?.created_at | toDate | date:'medium' }}</small>
        </div>
        <div class="card-text">
            <div>
                <small class="text-muted">Presentation Exchange ID:&nbsp;</small>
                <p>{{ proof?.presentation_exchange_id }}</p>
            </div>
        </div>
        <div class="card-text">
            <div>
                <small class="text-muted">Requested Attributes:&nbsp;</small>
                <p *ngFor="let attr of proof?.presentation_request?.requested_attributes?.additionalProp1 | keyvalue">
                    <span>{{ attr.key }}:{{ attr.value}}</span>
                </p>
            </div>
        </div>
        <div class="card-text">
            <div>
                <small class="text-muted">Requested Attributes:&nbsp;</small>
                <p *ngFor="let attr of proof?.presentation_request?.requested_predicates?.additionalProp2 | keyvalue">
                    <span>{{ attr.value}}</span>
                </p>
            </div>
        </div>
        <div class="card-text">
            <div>
                <small class="text-muted">Not Expired Until:&nbsp;</small>
                <p>{{ proof?.presentation_request?.non_revoked?.to }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <p class="card-text">
            <small class="text-muted">Updated at {{ proof?.updated_at | toDate | date:'medium' }}</small>
        </p>
    </div>
</div>