<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="card-text">
                <div>
                    <small class="text-muted">Connection ID:&nbsp;</small>
                    <p>{{ connectionID }}</p>
                </div>
                <div class="btn-group">
                    <small class="text-muted">Credential Exchange ID:&nbsp;</small>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="revokedCredentialExchangeID">
                        <option *ngFor="let credExchangeID of revokedCredentialExchangeIDs" value="{{ credExchangeID }}">{{ credExchangeID }}</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="onSubmit()"
                            class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="card-text">
                <small class="text-muted">Revocation Status:&nbsp;</small>
                <p>{{ checkRevokedCredentialResultObject?.state | titlecase}}</p>
            </div>
        </div>
    </div>
</div>
