<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="card-text">
                <div>
                    <small class="text-muted">{{ 'credential.revoke-connection-id' | translate }}:&nbsp;</small>
                    <p>{{ connectionID }}</p>
                </div>
                <div class="btn-group">
                    <small class="text-muted">{{ 'credential.revoke-credential-exchange-id' | translate }}:&nbsp;</small>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="credentialExchangeID">
                        <option *ngFor="let credExchangeID of availableCredentialExchangeIDs"
                            value="{{ credExchangeID }}">{{ credExchangeID }}</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="onSubmitRevoke()"
                            class="btn btn-primary">{{ 'shared.revoke' | translate }}</button>
                        <br />
                        <ng-container *ngIf="revokeResult === 'success'">
                            <span class="badge badge-success">Credential Revocation is successful</span>
                        </ng-container>
                        <ng-container *ngIf="revokeResult === 'failed'">
                            <span class="badge badge-danger">Credential Revocation is failed</span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>