<app-component-nav>
    <a class="nav-item nav-link" routerLink="issued" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Issued</a>
    <!-- <a class="nav-item nav-link" routerLink="requested" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Requested</a> -->
    <a class="nav-item nav-link" routerLink="revoked" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Revoked</a>
    <!-- <a class="nav-item nav-link" routerLink="new" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">New</a> -->
</app-component-nav>
<router-outlet></router-outlet>