<div class="card shadow-sm">
    <div class="card-body">
        <div class="card-title">
            <small>
                <span>`{{ 'schema.created-view-details' | translate }}</span>
            </small>
        </div>
        <div class="card-text">
            <span>
                <small class="text-muted">{{ 'shared.schema-id' | translate }}:</small>&nbsp;
            </span>
            <span><a class="cursor-pointer" (click)="getSchemaDetail()">{{ schemaID }}</a></span>
        </div>
        <div class="card-text">
            <span>
                <small class="text-muted">{{ 'shared.schema-name' | translate }}:</small>&nbsp;
            </span>
            <span>{{ schemaDetail?.name }}</span>
        </div>
        <div class="card-text">
            <span>
                <small class="text-muted">{{ 'shared.schema-version' | translate }}:</small>&nbsp;
            </span>
            <span>{{ schemaDetail?.version }}</span>
        </div>
        <div class="card-text">
            <span>
                <small class="text-muted">{{ 'shared.schema-attribute-preview' | translate }}:</small>&nbsp;
            </span>
        </div>
        <ul>
            <li *ngFor="let attribute of schemaDetail?.attrNames">
                <div>
                    <span>
                        <small class="text-muted">{{ 'shared.attribute' | translate }}:</small>&nbsp;
                    </span>
                    <span>{{ attribute }}</span>
                </div>
            </li>
        </ul>
    </div>
</div>