<div class="container">
    <form [formGroup]="schemaForm" novalidate autocomplete="false" (ngSubmit)="onSubmit()">
        <div class="card shadow-sm" style="width: 40rem;">
            <div class="card-body">
                <div class="card-title">
                    <small>
                        <span>{{ 'schema.new-type-in' | translate }}</span>
                    </small>
                </div>
                <div class="form-inline">
                    <span>
                        <small class="text-muted">{{ 'schema.new-schema-name' | translate }}:</small>&nbsp;
                    </span>
                    <span>
                        <input type="text" class="form-control" placeholder="passport" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" style="width: 10rem;" formControlName="schemaName">&nbsp;
                    </span>
                </div>
                <br />
                <div class="form-inline">
                    <span>
                        <small class="text-muted">{{ 'schema.new-schema-version' | translate }}:</small>&nbsp;
                    </span>
                    <span>
                        <input type="text" class="form-control" placeholder="1.0" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" style="width: 5rem;" formControlName="schemaVersion">
                    </span>
                </div>
                <br />
                <div class="form-inline">
                    <div formArrayName="attributes">
                        <div *ngFor="let attribute of attributes.controls; let i = index">
                            <span>
                                <small class="text-muted">{{ 'schema.new-schema-attribute-name' | translate }}:</small>&nbsp;
                            </span>
                            <span>
                                <div class="input-group mb-3">
                                    <input id="attribute-{{i}}" type="text" class="form-control" placeholder="firstname"
                                        aria-label="Default" aria-describedby="button-addon2" style="width: 21rem;"
                                        [formControlName]="i" />
                                </div>
                            </span>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-info" (click)="addAttribute()">{{ 'schema.new-add-attribute' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3" style="width: 40rem;">{{ 'schema.new-create-schema' | translate }}</button>
    </form>
    <div *ngIf="schema" class="row">
        <div class="col-12">
            <div class="form-group">
                <label>{{ 'schema.new-credential-schema-generated' | translate }}:</label>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-text">
                            <span>
                                <small class="text-muted">{{ 'shared.schema-id' | translate }}:</small>&nbsp;
                            </span>
                            <span>{{ schemaObject?.schema?.id }}</span>
                        </div>
                        <div class="card-text">
                            <span>
                                <small class="text-muted">{{ 'shared.schema-name' | translate }}:</small>&nbsp;
                            </span>
                            <span>{{ schemaObject?.schema?.name }}</span>
                        </div>
                        <div class="card-text">
                            <span>
                                <small class="text-muted">{{ 'shared.schema-version' | translate }}:</small>&nbsp;
                            </span>
                            <span>{{ schemaObject?.schema?.version }}</span>
                        </div>
                        <div class="card-text">
                            <span>
                                <small class="text-muted">{{ 'shared.schema-attribute-preview' | translate }}:</small>&nbsp;
                            </span>
                        </div>
                        <ul>
                            <li *ngFor="let attribute of schemaObject?.schema?.attrNames">
                                <div>
                                    <span>
                                        <small class="text-muted">{{ 'shared.attribute' | translate }}:</small>&nbsp;
                                    </span>
                                    <span>{{ attribute }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>