<div class="container">
    <form [formGroup]="definitionForm" novalidate autocomplete="false" (ngSubmit)="onSubmitCreationDefinition()">
        <div class="card shadow-sm" style="width: 40rem;">
            <div class="card-body">
                <div class="card-title">
                    <small>
                        <span>{{ 'definition.new-type-in' | translate }}</span>
                    </small>
                </div>
                <div class="form-inline">
                    <span>
                        <small class="text-muted">{{ 'definition.new-schema-id' | translate }}:</small>&nbsp;
                    </span>
                    <span>
                        <input type="text" class="form-control" placeholder="MtSBSkitb28PSoCj9EpSDs:2:passport18:0.1"
                            aria-label="Default" aria-describedby="inputGroup-sizing-default" style="width: 22rem;"
                            formControlName="schemaID">&nbsp;
                    </span>
                </div>
                <br />
                <div class="form-inline">
                    <span>
                        <small class="text-muted">{{ 'definition.new-support-revocation' | translate }}:</small>&nbsp;
                    </span>
                    <select class="form-select form-select-lg" aria-label=".form-select-lg example" style="width: 4rem;"
                        formControlName="supportRevocation">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <br />
                <div class="form-inline">
                    <span>
                        <small class="text-muted">{{ 'definition.new-revocation-registry-size' | translate }}:</small>&nbsp;
                    </span>
                    <span>
                        <input type="text" class="form-control" placeholder="10000" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" style="width: 7rem;"
                            formControlName="revocationRegistrySize">
                    </span>
                </div>
                <br />
                <div class="form-inline">
                    <span>
                        <small class="text-muted">{{ 'definition.new-tag' | translate }}:</small>&nbsp;
                    </span>
                    <span>
                        <input type="text" class="form-control" placeholder="passport" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" style="width: 7rem;" formControlName="tag">
                    </span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3" style="width: 40rem;">{{ 'definition.new-create-definition' | translate }}</button>
    </form>
    <div *ngIf="definition" class="row">
        <div class="col-12">
            <div class="form-group">
                <label>{{ 'definition.new-definition-generated' | translate }}:</label>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-text">
                            <span>
                                <small class="text-muted">{{ 'shared.definition-id' | translate }}:</small>&nbsp;
                            </span>
                            <span>{{ definitionObject?.credential_definition_id }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async "></mat-progress-spinner>
</div>