<div class="card shadow-sm">
    <div class="card-body">
        <div class="card-text">
            <div class="alert alert-warning" role="alert">
                If your <b>issuer acapy agent</b> is running in an <b>non-interactive</b> mode, you <b>MUST</b> click on the below <b>Accept</b> button to manually trigger the TAA for using the Sovrin BuilderNet to enable the creation of a new schema and definition.
              </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="onAcceptTAA()"
                    class="btn btn-primary">{{
                    'submenu.accept' | translate }}</button>
                <ng-container *ngIf="acceptTAAResult === 'success'">
                    <span class="badge badge-success">{{ 'shared.success' |
                        translate }}</span>
                </ng-container>
                <ng-container *ngIf="acceptTAAResult === 'failed'">
                    <span class="badge badge-danger">{{ 'shared.failure' |
                        translate }}</span>
                </ng-container>
            </div>
        </div>
    </div>
</div>