<app-component-nav>
    <a class="nav-item nav-link" routerLink="issued" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Issued</a>
    <a class="nav-item nav-link" routerLink="revoke" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Revoke</a>
    <a class="nav-item nav-link" routerLink="validity" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Validity</a>
</app-component-nav>
<router-outlet></router-outlet>