<app-component-nav>
    <a class="nav-item nav-link" routerLink="issued" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">{{ 'submenu.issued' | translate }}</a>
    <a class="nav-item nav-link" routerLink="revoke" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">{{ 'submenu.revoke' | translate }}</a>
    <a class="nav-item nav-link" routerLink="validity" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">{{ 'submenu.validity' | translate }}</a>
</app-component-nav>
<router-outlet></router-outlet>