<div class="card shadow-sm">
    <div class="card-body">
        <div class="card-title">
            <small>
                <span>{{ 'definition.created-definition-view-details' | tranlsate }}</span>
            </small>
        </div>
        <div class="card-text">
            <span>
                <small class="text-muted">{{ 'shared.definition-id' | tranlsate }}:</small>&nbsp;
            </span>
            <span><a class="cursor-pointer" (click)="getDefinitionDetail()">{{ definitionID }}</a></span>
        </div>
        <div class="card-text">
            <span>
                <small class="text-muted">{{ 'shared.schema-id' | tranlsate }}:</small>&nbsp;
            </span>
            <span>{{ schemaID }}</span>
        </div>
        <div class="card-text">
            <span>
                <small class="text-muted">{{ 'shared.type' | tranlsate }}:</small>&nbsp;
            </span>
            <span>{{ definitionDetail?.type }}</span>
        </div>
        <div class="card-text">
            <span>
                <small class="text-muted">{{ 'definition.new-tag' | tranlsate }}:</small>&nbsp;
            </span>
            <span>{{ definitionDetail?.tag }}</span>
        </div>
    </div>
</div>