<div class="card shadow-sm">
    <div class="card-body">
        <ng-container *ngIf="credentialRequest?.cred_ex_record?.state === 'proposal-sent' || credentialRequest?.cred_ex_record?.state === 'offer-sent' || credentialRequest?.cred_ex_record?.state === 'request-sent'">
            <div class="card-title">
                <small>
                    <span>{{ 'credential-request.sent-on' | translate }} &nbsp;</span>
                </small>
                <small class="text-muted">{{ credentialRequest?.cred_ex_record?.created_at | toDate | date:'medium'}}</small>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.connection-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.conn_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.credential-exchange-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.cred_ex_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.state' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.state | titlecase }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'credential-request.request-comment' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.cred_proposal?.comment | titlecase }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.credential-preview' | translate }}:</small>&nbsp;
                </span>
            </div>
            <ul>
                <li *ngFor="let attribute of credentialRequest?.cred_ex_record?.cred_preview?.attributes">
                    <div>
                        <span>
                            <small class="text-muted">{{ 'shared.attribute-name' | translate }}:</small>&nbsp;
                        </span>
                        <span>{{ attribute.name }}</span>
                        <span>
                            <small class="text-muted">,&nbsp;{{ 'shared.attribute-value' | translate }}:</small>&nbsp;
                        </span>
                        <span>{{ attribute.value }}</span>
                    </div>
                </li>
            </ul>
        </ng-container>
        <ng-container *ngIf="credentialRequest?.cred_ex_record?.state === 'proposal-received'">
            <div class="card-title">
                <small>
                    <span>{{ 'credential-request.sent-on' | translate }} &nbsp;</span>
                </small>
                <small class="text-muted">{{ credentialRequest?.cred_ex_record?.created_at | toDate |
                    date:'medium'}}</small>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.connection-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.conn_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.credential-exchange-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.cred_ex_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'credential-request.request-state' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.state | titlecase }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'credential-request.request-comment' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.cred_proposal?.comment | titlecase }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.credential-preview' | translate }}:</small>&nbsp;
                </span>
            </div>
            <ul>
                <li *ngFor="let attribute of credentialRequest?.cred_ex_record?.cred_preview?.attributes">
                    <div>
                        <span>
                            <small class="text-muted">{{ 'shared.attribute-name' | translate }}:</small>&nbsp;
                        </span>
                        <span>{{ attribute.name }}</span>
                        <span>
                            <small class="text-muted">,&nbsp;{{ 'shared.attribute-value' | translate }}:</small>&nbsp;
                        </span>
                        <span>{{ attribute.value }}</span>
                    </div>
                </li>
            </ul>
            <div class="form-inline">
                <span>
                    <small class="text-muted">{{ 'shared.schema-id' | translate }}:</small>&nbsp;
                </span>
                <span>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" style="width: 21rem;" [(ngModel)]="schemaID">
                </span>
            </div>
            <div class="form-inline">
                <span>
                    <small class="text-muted">{{ 'shared.definition-id' | translate }}:</small>&nbsp;
                </span>
                <span>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" style="width: 21rem;" [(ngModel)]="definitionID">
                </span>
            </div>
            <button type="button" class="btn btn-primary" (click)="onSubmitSenderOffer()"
                style="width: 6rem;">{{ 'shared.approve' | translate }}</button>
            <br />
            <ng-container *ngIf="approval === 'success'">
                <span class="badge badge-success">{{ 'shared.approve' | translate }}{{ 'shared.success' | translate }}</span>
            </ng-container>
            <ng-container *ngIf="approval === 'failed'">
                <span class="badge badge-danger">{{ 'shared.approve' | translate }}{{ 'shared.failure' | translate }}</span>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="credentialRequest?.cred_ex_record?.state === 'offer-received'">
            <div class="card-title">
                <small>
                    <span>{{ 'credential-request.sent-on' | translate }} &nbsp;</span>
                </small>
                <small class="text-muted">{{ credentialRequest?.cred_ex_record?.created_at | toDate |
                    date:'medium'}}</small>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.connection-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.conn_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.credential-exchange-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.cred_ex_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'credential-request.request-state' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.state | titlecase }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'credential-request.request-comment' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.cred_proposal?.comment | titlecase }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.credential-preview' | translate }}:</small>&nbsp;
                </span>
            </div>
            <ul>
                <li *ngFor="let attribute of credentialRequest?.cred_ex_record?.cred_preview?.attributes">
                    <div>
                        <span>
                            <small class="text-muted">{{ 'shared.attribute-name' | translate }}:</small>&nbsp;
                        </span>
                        <span>{{ attribute.name }}</span>
                        <span>
                            <small class="text-muted">,&nbsp;{{ 'shared.attribute-value' | translate }}:</small>&nbsp;
                        </span>
                        <span>{{ attribute.value }}</span>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-primary" (click)="onSubmitCredentialRequest()"
                style="width: 11rem;">{{ 'shared.credential-request' | translate }}</button>
            <br />
            <ng-container *ngIf="credentialRequestResult === 'success'">
                <span class="badge badge-success">{{ 'shared.credential-request' | translate }}{{ 'shared.success' | translate }}</span>
            </ng-container>
            <ng-container *ngIf="credentialRequestResult === 'failed'">
                <span class="badge badge-danger">{{ 'shared.credential-request' | translate }}{{ 'shared.failure' | translate }}</span>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="credentialRequest?.cred_ex_record?.state === 'request-received'">
            <div class="card-title">
                <small>
                    <span>{{ 'credential-request.sent-on' | translate }} &nbsp;</span>
                </small>
                <small class="text-muted">{{ credentialRequest?.cred_ex_record?.created_at | toDate |
                    date:'medium'}}</small>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.connection-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.conn_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.credential-exchange-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.cred_ex_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'credential-request.request-state' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.state | titlecase }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'credential-request.request-comment' | translate }}:</small>&nbsp;
                </span>
                <span>{{ credentialRequest?.cred_ex_record?.cred_proposal?.comment | titlecase }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.credential-preview' | translate }}:</small>&nbsp;
                </span>
            </div>
            <ul>
                <li *ngFor="let attribute of credentialRequest?.cred_ex_record?.cred_preview?.attributes">
                    <div>
                        <span>
                            <small class="text-muted">{{ 'shared.attribute-name' | translate }}:</small>&nbsp;
                        </span>
                        <span>{{ attribute.name }}</span>
                        <span>
                            <small class="text-muted">,&nbsp;{{ 'shared.attribute-value' | translate }}:</small>&nbsp;
                        </span>
                        <span>{{ attribute.value }}</span>
                    </div>
                </li>
            </ul>
            <div class="form-inline">
                <span>
                    <small class="text-muted">{{ 'shared.credential-issuance' | translate }}{{ 'shared.comment' | translate }}:</small>&nbsp;
                </span>
                <span>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" style="width: 21rem;"
                        [(ngModel)]="issueCredentialComment">
                </span>
            </div>
            <button type="button" class="btn btn-primary" (click)="onSubmitCredentialIssuance()"
                style="width: 11rem;">{{ 'credential.issue' | translate }}</button>
            <br />
            <ng-container *ngIf="issueCredentialResult === 'success'">
                <span class="badge badge-success">{{ 'shared.credential-issuance' | translate }}{{ 'shared.success' | translate }}</span>
            </ng-container>
            <ng-container *ngIf="issueCredentialResult === 'failed'">
                <span class="badge badge-danger">{{ 'shared.credential-issuance' | translate }}{{ 'shared.failure' | translate }}</span>
            </ng-container>
        </ng-container>
    </div>
    <div class="card-footer">
        <p class="card-text">
            <small class="text-muted">{{ 'shared.updated-on' | translate }} {{ credentialRequest?.cred_ex_record?.updated_at | toDate |
                date:'medium' }}</small>
        </p>
    </div>
</div>