<div class="card-columns">
    <div class="container">
        <div class="card shadow-sm">
            <div class="card-body" style="width: 25rem;">
                <div class="card-title">
                    <small>
                        <span>Search All Issuer's Created Schemas</span>
                    </small>
                </div>
                <div class="btn-group">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="issuerPublicDID">
                        <option value="{{issuerPublicDID}}">{{issuerPublicDID}}</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="onSearch()"
                            class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-columns">
    <div class="container">
        <h3><span class="badge badge-success">Search Result</span></h3>
    </div>
</div>
<div class="card-columns">
    <div class="container">
        <app-schema-card *ngFor="let schemaID of schemaIDs" [schemaID]="schemaID"></app-schema-card>
    </div>
</div>

<app-empty-list *ngIf="!schemaIDs?.length"></app-empty-list>