<div class="card shadow-sm">
    <div class="card-body">
        <ng-container *ngIf="connection?.state === 'active';else invitation">
            <div class="card-title">
                <small>
                    <span>{{ 'connection.received-on' | translate }} &nbsp;</span>
                </small>
                <small class="text-muted">{{ connection?.created_at | toDate | date:'medium' }}</small>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.connection-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.connection_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small *ngIf="connection?.initiator === 'self'" class="text-muted">To:&nbsp;</small>
                    <small *ngIf="connection?.initiator === 'external'" class="text-muted">From:&nbsp;</small>
                    <small class="text-muted">{{ 'connection.shared-counterparty-name' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.their_label }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'connection.shared-counterparty-did' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.their_did }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'connection.shared-connection-state' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.state | titlecase }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'connection.shared-invitation-mode' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.invitation_mode | titlecase  }}</span>
            </div>
        </ng-container>
        <ng-template #invitation>
            <div class="card-title">
                <small>
                    <span>{{ 'connection.created-on' | translate }}</span>&nbsp;
                </small>
                <small class="text-muted">{{ connection?.created_at | toDate | date:'medium' }}</small>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'shared.connection-id' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.connection_id }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small *ngIf="connection?.initiator === 'self'" class="text-muted">To:&nbsp;</small>
                    <small *ngIf="connection?.initiator === 'external'" class="text-muted">From:&nbsp;</small>
                    <small class="text-muted">{{ 'connection.shared-counterparty-name' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.their_label || 'N/A' }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'connection.shared-counterparty-did' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.their_did || 'N/A' }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'connection.shared-connection-state' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.state | titlecase  }}</span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">{{ 'connection.shared-invitation-mode' | translate }}:</small>&nbsp;
                </span>
                <span>{{ connection?.invitation_mode | titlecase }}</span>
            </div>
        </ng-template>
    </div>
    <div class="card-footer">
        <p class="card-text">
            <small class="text-muted">{{ 'connection.updated-on' | translate }} {{ connection?.updated_at | toDate | date:'medium' }}</small>
        </p>
    </div>
</div>